@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.body {
    scroll-behavior: smooth;
    font-family: 'lobster Two';
}

.preloader {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    overflow-X: hidden;

}

.loader {
    width: 80%;
    height: auto;
    animation: spin 2s infinite;
    text-align: center;
    font-size: 25px;
    font-weight: 1000;
    color: whitesmoke;
    font-family: cursive;
}

@keyframes spin {
    0% {
        transform: translateX(-200px)
    }

    100% {
        transform: translateX(300px);
    }
}

.main {
    display: none;
    transition: 1s ease all;
}

.padding-15 {
    padding: 0 15px;
}

.nav {
    width: 270px;
    background-image: url(/image/ash-edmonds-XZ0xN0hmpi4-unsplash.jpg);
    background-size: cover;
    background-position: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgb(165, 164, 164, .2);
}

.main-content {
    padding-left: 270px;
}

.section {
    background: rgb(243, 235, 235);
    min-height: 100vh;
    display: block;
    left: 270px;
    top: 0;
    right: 0;
    z-index: 0;
    opacity: 1;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;

}

.nav-toggler {
    height: 40px;
    width: 45px;
    cursor: pointer;
    font-size: 30px;
    position: fixed;
    left: 10px;
    top: 20px;
    display: none;

}

.logo {
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}

.logo a {
    color: whitesmoke;
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
    display: inline-block;
    transition: 1s ease all;
}

.logo a::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid coral;
    border-left: 5px solid coral;
    bottom: 0;
    left: 0;
}

.logo a::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid coral;
    border-right: 5px solid coral;
    top: 0;
    right: 0;
}

.logo a:hover {
    color: rgba(0, 233, 255, 1.5);
    transform: scale(1.1);
    box-shadow: 0px 0px 5px rgba(0, 233, 255, 1.5);
}

.logo a span {
    font-family: 'clicker Script', cursive;
    font-family: 40px;

}

.navbar {
    height: auto;
    margin-top: 20%;
}

.navbar ul li {
    text-align: center;
    border-bottom: 1px solid rgba(165, 164, 164, 0.2);
    font-family: sans-serif;
}

.navbar a {
    font-weight: 400;
    font-size: 20px;
    color: whitesmoke;
    padding: 5px;
    margin-top: 10px;
    display: inline-block;
    transition: 1s ease all;
}

.navbar a:hover {
    transform: scale(1.2);
    color: rgba(0, 233, 255, 1.5);
    box-shadow: 0px 0px 5px rgba(0, 233, 255, 1.5);

}

/* ------------home section--------- */
.home {
    background-image: url(/image/florian-olivo-4hbJ-eymZ1o-unsplash.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home .container
{
    flex: 0 0 50%;
    max-width: 50%;
}

.socialicon {
    transform: translate(60px, 0px);
}

.socialicon a {
    font-size: 20px;
    padding-right: 20px;
    color: white;
    text-align: center;
}

.socialicon a i {
    background-color: black;
    border-radius: 50%;
    padding: 10px;
    transition: 1s ease all;
}

.socialicon a i:hover {
    background-color: coral;
    transform: scale(1.2);
    color: black;
    box-shadow: 0px 0px 5px rgba(0, 233, 255, 1.5);
}

.information {
    margin-top: 80px;
    padding: 10px;
    color: white;
    cursor: pointer;
    transform: translate(60px, 0px);
}

.information h3 {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
}

.information h1 {
    margin-top: 10px;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 2px;
    font-family: cursive;
}

.information p {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 500;
}

.btn {
    margin-top: 100px;
    margin-left: 50px;
}

.btn a {
    background-color: coral;
    padding: 15px 20px;
    border-radius: 15px;
    color: white;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    transition: 1s ease all;
}

.btn a:hover {
    background-color: coral;
    transform: scale(1.1);
    color: rgba(0, 233, 255, 1.5);
    box-shadow: 0px 0px 10px rgba(0, 233, 255, 1.5);
}

.profileimage {
    transform: translate(-70px, 0px);
    border-radius: 50%;
    padding: 5px;
    flex: 0 0 50%;
    max-width: 50%;
}

.profileimage img {
    float: right;
    height: 250px;
    width: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;

}

/* ------------about section-------- */
section .container {
    padding-top: 60px;

}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 40px;
    font-weight: 700;
    font-family: fantasy;
    position: relative;
    letter-spacing: 2px;
}

.section-title h2::before {
    content: "";
    height: 4px;
    width: 80px;
    background-color: red;
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after {
    content: "";
    height: 4px;
    width: 40px;
    background-color: red;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.about-content {
    flex: 0 0 100%;
    max-width: 100%;
}

.about-self {
    text-align: center;
    margin-top: 10px;
}

.about-self h1 {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 35PX;
    color: black;
    font-family: sans-serif;
}

.about-self p {
    line-height: 25Px;
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.personalinfo {
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
    border-right: 1px solid rgb(201, 197, 197);
}

.skills {
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
}

.personalinfo h3 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: cursive;
}

.info {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 20px 15px;
}

.info p {
    font-size: 15px;
    font-weight: 700;
}

.info span {
    font-size: 15px;
    font-weight: 300;
    color: rgb(90, 88, 88);
    margin-left: 4px;
}

.skills {
    flex: 0 0 40%;
    max-width: 40%;
}

.skills h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: cursive;
}

.skills .skillsitem {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.skillsitem h5 {
    line-height: 40px;
    font-weight: 600;
}

.skillsitem .progress {
    height: 7px;
    width: 100%;
    border-radius: 4px;
    background-color: rgb(146, 143, 143);
    position: relative;
}

.skillsitem .progress .progressbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 4px;
    background-color: red;
}

.skillsitem .skillpercentage {
    position: absolute;
    top: -30px;
    right: 0;
    font-size: 15px;
    color: rgb(102, 101, 101);
}

/* .............portfolio section...... */
.portcontainer {
    padding-top: 60px;
}

.project-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-gallery .site1 {
    height: 150%;
    flex: 0 0 32%;
    max-width: 32%;
    position: relative;
    overflow: hidden;
}

.project-gallery .site1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.site1::before {
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .3);
    position: absolute;
    top: 80%;
    left: -100%;
    transition: 1s ease all;
}

.site1:hover::before {
    top: 0;
    left: 0;
}

.site1 h3 {
    color: black;
    position: absolute;
    top: 45%;
    left: 30%;
    font-size: 30px;
    font-weight: 800;
    opacity: 0;
    text-transform: uppercase;
    transition: 1s ease all;
}

.site1:hover h3 {
    opacity: 1;
    color: rgb(255, 0, 0);
    border-bottom: 5px solid white;
}

.site1:hover {
    box-shadow: 0px 0px 10px rgba(0, 233, 255, 1.5);
}

.projinfo {
    position: absolute;
    top: 100%;
    color: black;
}

/* .........contact section........  */
.contact-container {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 1100px;
    max-width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), #3551b5), url(/image/pexels-pixabay-33109.jpg);
    background-position: center;
    background-size: cover;

}

.submitform {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

form {
    width: 90%;
    max-width: 600px;
}

.input-name {
    margin-bottom: 30px;
    position: relative;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    font-size: 18px;
    color: white;
    background: transparent;
    border: 1px solid white;
    border-radius: 10px;
    cursor: text;
}

input:hover,
textarea:hover {
    box-shadow: 0px 0px 10px rgba(0, 233, 255, 1.5);
    border: inset 1px;
}

label {
    color: white;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s ease all;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
    top: -35px;
}

.btn1 {
    margin: 0px 40%;
}

button {
    padding: 10px;
    text-align: center;
    background: transparent;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    box-shadow: 0px 0px 10px rgba(0, 233, 255, 1.5);
    border: inset 1px white;
}

.row1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.row1 .input-name {
    flex-basis: 48%;
}